.task-list-container {
  background: #1e1f25;
  border-radius: 10px;
  align-items: center;
  justify-content: left;
}

.task-contents {
  background-color: #2b2d35;
  border-radius: 10px;
  transition: all 0.3s ease;
}

