.app {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: auto;
  background-color: #111;
  scrollbar-width: none;
}

.toggle-container {
  display: flex;
  align-items: center;
  background-color: #36375E;
  border-radius: 30px;
  padding: 2px;
  width: 25rem;
  min-width: 15rem;
  font-family: sans-serif;
  color: white;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.toggle-switch {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 6px 18px;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  min-width: 50px;
}

.toggle-button {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.toggle-text {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.percentage-display {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: bold;
  margin-left: auto;
  z-index: 1;
  position: relative;
  flex-shrink: 0;
}

.arrow-icon {
  font-size: 18px;
  margin-left: 10px;
  padding-right: 10px;
  color: #5b42f3;
  z-index: 1;
  position: relative;
  flex-shrink: 0;
  height: 20px;
  display: flex;
  align-items: center;
}

.arrow-icon img {
  height: 100%;
  width: auto;
}