.form-control{
    width: 20%;
    justify-content: center;
    display: flex;
}
.task-card{
    width: 30.33%;
    background: #1e1f25af;
    padding-right: 24px;
    height: 210px;
    border-radius: 16px;
}
p{
    color: #E1E3E7;
}
.task-card-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    gap: 12px;
    padding-top: 22px;
    padding-bottom: 26px;
    border-bottom: 2px solid #24252D;
    padding: 16px;
}
.task-card-head p{
    font-size: 16px;
    padding: 0px;
    margin: 0px;    
}