.callbar-container {
  background-color: #4e55ff;
  border-radius: 10px;
  padding: 11px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 100%;
  margin: 40px auto;
  font-family: sans-serif;
  box-shadow: 0 2px 7px #1b1b55;;
}

.avatars {
  display: flex;
  align-items: center;
}

.avatar {
    width: 24px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    margin-left: -8px;
    background-color: #ccc;
}

.avatar:first-child {
  margin-left: 0;
}

.avatar.letter {
  background: white;
  color: #4e55ff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.timer {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.icon:hover {
  opacity: 0.8;
}
