.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;             
  width: 94px;              
  background-color: #1E1F25;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;  
  padding: 20px 0;           
  overflow-y: auto;      
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.sidebar-nav li {
  list-style: none;
  margin-bottom: 40px;
  cursor: pointer;
  transition: transform 0.2s ease, 
  filter 0.3s ease;
}

.sidebar {
  scrollbar-width: none;
}

.sidebar img {
  user-select: none;
}
